.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.header-color{
  background-color: #EC1D23;
}
.header-text-color{
  margin-top: 8px;
  color: white!important;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.complete-body {
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
  overflow: hidden;
}

.login-modal {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  opacity: 0.5;
}


.login-form {
  position: absolute;
  background-color: white;
  z-index: 1000;
  top: 25%;
  border-radius: 4px;
}

.thankyou-modal{
  z-index: 1050;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  opacity: 0.5;
  top: 0%;
}
.thankyou-modal-body{
  position: absolute;
  background-color: white;
  z-index: 1050;
  top: 40%;
  left: 35%;
  width: 30%;
  height: 20%;
  border-radius: 4px;
}
.rating-modal{
  z-index: 1050;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  opacity: 0.5;
  top: 0%;
}
.rating-modal-body{
  position: absolute;
  background-color: white;
  z-index: 1050;
  top: 25%;
  left: 35%;
  width:30% ;
  border-radius: 4px;
}

.questionnaire-button{
  margin-bottom: 96px;
  margin-top: 48px;
}
.mcq {
  margin-top: 48px;
}

.subjective {
  margin-top: 48px;
}

.option-selected{
  background-color: #138496;
  color: white;
  border-left-color: white;
}


.option-selected:hover{
  background-color: #138496;
  color: white;
  border-left-color: white;
}

.option-selected:focus {
  box-shadow: 0 0 0 0rem;
}

.mcq-prepend-label{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px ;
}

.mcq-label-not-selected {
  background-color: #17a2b8;
  color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px ;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.mcq-label-selected {
  background-color: #138496;
  color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px ;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.true-false{
  margin-top: 48px;
}

.loader-svg{
  position: absolute;
  top: 30%;
  left: 40%;
}

.form-input{
  font-size: 14px;
}

.label-text {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 4px;
  margin-left: 2px;
}

.admin-login-page{
  background-color: #e9e7f9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-login-page .admin-login-button {
  background-color: #EC1D23;
  border-color: #EC1D23;
  margin-bottom: 48px;
}
.admin-login-page .admin-login {
  border-radius: 12px;
  background-color: white;
}
.admin-login-page .admin-login-heading {
  background-color: #EC1D23;
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 80px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-style h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .login-form{
    left: 10%;
    width: 80%;
  }
}


@media only screen and (min-width: 768px) {
  .login-form{
    left: 35%;
    width: 30%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
